{
  "env": { "es6": true, "browser": true, "node": true },
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "jsx-a11y/media-has-caption": "warn",
    "@typescript-eslint/ban-ts-comment": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "import", "jsx-a11y", "@typescript-eslint"],
  "root": true,
  "settings": { "import/resolver": { "typescript": true, "node": true } }
}